.recipeDetail {
  background: var(--color-bg-tint);
  display: flex;
  flex-direction: column;
  line-height: 1.7em;
  font-size: 16px;
  font-weight: 400;
}
.recipeDetail__container {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 700px;
}
.recipeDetail__title {
  margin-top: 350px;
  margin: 2em;
  margin-bottom: 0;
  font-size: 32px;
  color: white;
  text-shadow: 1px 1px var(--color-accent);
}
.recipeDetail__detail {
  margin-top: -20px;
  display: flex;
  align-items: flex-start;
}
.recipeDetail__desc {
  margin-right: 650px;
}
.recipeDetail__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 550px;
  height: 500px;
  border-radius: 15px;
  margin-left: 100px;
}
.recipeDetail__content {
  display: flex;
  justify-content: center;
  margin-top: -480px;
  margin-left: 400px;
}
.recipeDetail__btn {
  z-index: 99;
  width: 55px;
  height: 55px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
  background-color: var(--color-accent-combo);
}
.recipeDetail__btn-date {
  width: 100px;
  height: 55px;
  margin-left: 10px;
  padding: 5px;
}
.recipeDetail__btn-detail {
  width: 80px;
  padding: 5px;
  margin-top: 10px;
}
.recipeDetail__btn-icon {
  width: 20px;
  height: 20px;
}
.recipeDetail__aside {
  display: flex;
  justify-content: space-around;
  color: black;
  font-size: 16px;
}
.recipeDetail__subtitle {
  display: flex;
  margin-left: 120px;
}
.recipeDetail__ingredients {
  margin-top: 300px;
  margin-bottom: 15px;
  -webkit-text-decoration: underline wavy 1px var(--color-accent);
          text-decoration: underline wavy 1px var(--color-accent);
}
.recipeDetail__ingredients__list {
  display: flex;
  width: 100%;
}
.recipeDetail__ingredients__list-item {
  margin: -5px 5px;
  margin-left: 10px;
  align-self: start;
}
.recipeDetail__ingredients__list-item-ing {
  display: flex;
  align-items: flex-start;
  width: 200px;
  margin: -5px 5px;
}
.recipeDetail__preparation {
  margin-top: 300px;
  -webkit-text-decoration: underline wavy var(--color-accent) 2px;
          text-decoration: underline wavy var(--color-accent) 2px;
}
.recipeDetail__changeTitle {
  font-size: 12px;
  opacity: 55%;
}

.recipeDetail-container {
  width: 200px;
  height: 600px;
  display: flex;
  align-items: flex-start;
  margin-top: -280px;
}
.recipeDetail-container__list {
  margin-left: 20px;
  align-items: flex-start;
}
.recipeDetail-container__stepsTitle {
  color: var(--color-accent);
  margin-left: -40px;
}
.recipeDetail-container__steps {
  margin-right: -150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
}
.recipeDetail-container__list {
  list-style: numbers;
  margin-bottom: 10px;
}

.Detail {
  margin-left: 600px;
  width: 510px;
  height: 800px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
  background-color: var(--color-bg-tint);
}

.count-btn {
  margin: 4px;
  padding: 2px;
  background-color: var(--color-bg-tint);
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
  color: var(--color-text);
}

.button-shop {
  margin-top: -30px;
  width: 38px;
  height: 38px;
  padding: 5px;
}

.modal__btn {
  border: none;
  background: none;
  box-shadow: none;
  margin-left: 600px;
}
.modal__btngroup {
  display: flex;
  justify-content: space-around;
}
.modal__subtitle {
  margin-bottom: 5px;
}
.modal__input {
  border-radius: 3px;
  padding: 8px;
  width: 100%;
  background-color: var(--color-basic-bg);
  color: var(--color-accent);
  margin-left: 5px;
  align-items: flex-start;
}
.modal__imgGroup {
  display: flex;
  justify-content: space-around;
}
.modal__img {
  width: 200px;
  height: 150px;
  margin-left: 40px;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 105;
  text-align: left;
}

.recipeUpdate {
  background-color: rgb(255, 239, 162);
  color: var(--color-accent);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 650px;
  overflow: auto;
  z-index: 20;
  max-height: calc(100vh - 4rem);
}/*# sourceMappingURL=recipeDetail.css.map */