// weekmenu
.calendar{   
  &__container{
    margin: 10px 50px 20px 100px;    
    width: 900px;
    height: 1000px;
    padding-bottom: 50px;
  }
}

.rbc-calendar{
  color:var(--color-accent);
}

.rbc-event{
  font-size: 14px;
  background-color: var(--color-accent-combo);
}

.rbc-selected{
  background-color: var(--color-accent);
}

.rbc-event-label{
  font-size: 0;
  background-color: var(--color-accent-combo);
  
}

.rbc-event-content{
  color: var(--color-accent);
  background-color: var(--color-accent-combo);
}

.inputCalendar{
  display: flex;
  flex-direction: column;
  width: 100px;

  &__title{
    padding: 10px;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    border: 2px solid var(--color-accent-combo);
    align-items: flex-start;
  }

  &__date{
    padding: 10px;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    align-items: flex-start;
    border: 2px solid var(--color-accent-combo);
  }

  &__btn{
    background-color: white;
    color: var(--color-accent);
  }

}
 
  .chefshad-rating {
    position: relative;
    display: flex;
    z-index: 200;
    height: 15px;
    width: 15px;
    margin: 5px;
  }
  
  .btn {
    &__rating {
      margin-right: 5px;
      height: 40px;
      width: 40px;
      background-color: var(--color-bg-tint);
    }
  
    &__icon {
      height: 20px;
      width: 20px;
      margin-bottom: 20px;
    }
  }

  .date-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    }

  .date{
    width: 100px;
    margin-right: 10px;
    border: var(--color-accent) 2px solid;
    border-radius: 10px;
    color: var(--color-accent);

    &__input{
      width: 200px;
      margin: 10px;
      border-radius: 10px;
      color: var(--color-accent);
    }
  }

  .rbc-agenda-view{
    display: none;
  }