//* styling from the shoppinglist/

.shoppingList {
  width: 100%;
  margin-top: 240px;
  background-color: var(--color-bg-tint);
  
&__title{
  margin: 2em;
  margin-bottom: 0;
  padding-top: 50px;
  font-size: 32px;
  color: var(--color-accent);
  text-shadow: 1px 1px white;
}

&__container{
  width: 800px;
  margin-left: 150px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.4);
}

&__detailgroup{
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--color-accent); 
}

}

.shoppingList-container {
  width: 70%;
  height: 85%;
  margin-left: 200px;
  margin-top: 30px;
  background: var(--color-bg-tint);
  border-radius: 10px;
  box-shadow: 0px 25px 40px #1687d933;
}

.ingredient{
width: 500px;
margin-left: 150px;

&__container{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 25px 40px #1687d933;
}

&__item{
font-size: 14px;
margin-left: 20px;
padding: 10px;
}
}


.shoppingList-header {
  color: var(--color-accent);
  text-decoration: underline;
}

.btn{

&__group{
  margin-left: 40px;
  display: flex;
 justify-content: space-between;
}

&__sm {
 width: 30px;
 height: 30px;
 border-radius: 50%;
 margin-left: 7px;
 background-color: #d9d9d9;
 display: inline-flex;
 justify-content: center;
 align-items: center;
 font-size: 10px;
 font-family: "Open Sans";
 color: #202020;
 cursor: pointer;
 text-decoration: none;
}
}


.cart-img{
  height: 50px;
}

.total {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__item {
    margin-right: 200px;
  }
}

// Shopping Modal

.ShoppingModal{  
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
z-index: 100;
text-align: left;

&__container{
  display: flex;
  align-items: stretch;
}

&__input{
  margin: 5px;
  width: auto;
}
};

.addToCart{
  background-color: rgb(255, 239, 162) ;
  color: var(--color-accent);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 650px;
  overflow: auto;
  z-index: 20;
  max-height: calc(100vh - 4rem);
}

.input{
  width: 25px;
  height: 25px;
  margin-top: 12px;
  margin-left: 7px;
}